@import '../abstract/variables';

#App {
  #App__container {
    border: 1px solid rgba($color: #fff, $alpha: .2);
    border-radius: 15px;
    box-shadow: 2px 5px 10px rgba($color: #fff, $alpha: .2);
    padding: 1rem;
    width: 330px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  #App__buttons {
    display: flex;
    gap: .4em;

    button {
      background-color: transparent;
      border-style: solid;
      border-radius: 7px;
      border-width: 1px;
      font-size: 1.7rem;
      padding: .3em .7em;

      &:hover {
        cursor: pointer;
        transform: scale(.95);
      }
    
      &:active {
        transform: scale(1);
      }
    }
  }
}