@import './variables';

* {
  box-sizing: border-box;
  color: $soft-black;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom, skyblue, white);
  font-family: $font;
}